/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7fafc;
    color: #2d3748;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar Styles */
  nav {
    background: linear-gradient(to right,  #5eead4, #93c5fd);
    padding: 1rem;
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  
  nav a:hover {
    color: #FFB703; /* Warm Yellow */
    transition: color 0.3s;
  }

  .icon {
    max-width: 100px;
  }

  .landing {
    /* background: linear-gradient(to right,  #5eead4, #93c5fd); */
    background-color: aliceblue;
    padding: 1.5rem;
    color: black;
  }

  .landing h1 {
    color: black;
  }
  
  .landing a {
    /* font-family: "Roboto", sans-serif; */
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(253 224 71);
    color: rgb(37 99 235);
    border-radius: 9999px;
    padding: 12px 24px 12px 24px;
  }

  .landing a:hover {
    background-color: #FFEE8C;
  }

  .events {
    background-color: aliceblue;
    display: block;
    padding: 80px;
  }

  .card {
    padding: 50px;
    background-color: white;
  }

  .card img {
    width: 100%;
  }
  
  /* Footer */
  footer {
    background: linear-gradient(to right,  #5eead4, #93c5fd);
    color: #ffffff;
    padding: 2rem 0;
    text-align: center;
  }
  
  footer p {
    margin-bottom: 1rem;
  }
  
  footer .space-x-4 a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 1.5rem;
  }
  
  footer .space-x-4 a:hover {
    color: #FFB703; /* Warm Yellow */
    transition: color 0.3s;
  }
  